body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

.highlight-row {
    background-color: whitesmoke;
}

input,
select,
textarea {
    max-width: 280px;
}

#navbarmain {
    background-color: #C01124;
}

#navbarli {
    color: #f8f8f8;
    font-family: 'Saira Condensed', sans-serif;
}

footer {
    background-color: #C01124;
    color: #f8f8f8;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}
