body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}



.logo-index {
    text-align: center;
}

#main-image {
    width: 100%;
}


.dl-horizontal dt {
    white-space: normal;
}

.highlight-row {
    background-color: whitesmoke;
}

.tdlist {
    color: black;
}

input,
select,
textarea {
    max-width: 280px;
}

#navbarmain {
    background-color: #C01124;
}

#navbarli {
    color: #f8f8f8;
    font-family: 'Saira Condensed', sans-serif;
}

footer {
    background-color: #C01124;
    color: #f8f8f8;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}
