@{
    ViewBag.Title = "Home Page";
}

<h6>This page will be used for authentication. For now, use the nav bar to navigate to the Machines list page.</h6>

@*<div class="container">
    <div class="row">
        <div class="span4"><img class="center-block img-responsive" src="https://lh3.googleusercontent.com/UZ_qC981JLrT80ROBM6S3tu0wjdhw3abQmql7OeQDIqGe6QrCw-oPkgsG3PPXawB22kKamPaRsdqh9URoWzUW60HJ5qOD5EprGD0f8xe6De1gpjUTnj_D9Ea-yAz1pLtghFYc08NQPlODnU4CBm_va5_yK1y1iH3NoVlgMgwaWeDMbOdMQfhe7vZ3BV2FA7wEAZYIOxf-tnpS4dtM79aV3Dx7oUFpPOye3gKELFLxmz1H-p7KrmRi6VcMITTwHpjE4ykSrau8SHhEl7gX4TOEUP48DBmIn1SJGB7sazlBahMESkCbn8NCTD7LtRDFhDXy3H1kbi1TLFKvty9Y6p1zHxmEfxM6j9fXfIeO2_K0ft9qTV0QIGJwliQlj0TeHtmF2cMwWm-08Xz3uWTHhrzBtWpRe7VWW7w0YbKuMxm7a1CcTmv2UddKUJtCyI09Pm7zAfvMWUpojyXc-FgE5elBMJ4vVvZhndDJbN3tmqMsRp-a9FpujfqzMGa1_7SNY1jh5y4xzW5dEsc0FB5wNGBDHdugBUzUO1LG8wYYnPzAF2pgNaMaLEnQvsGHemVb75cGsdVu7DQWkt5qkcTPhzGazYfNC3YR7FAp2eqgj0=w1153-h746-no" width="50%"/></div>
    </div>
</div>*@